#outer-div{
    display: flex;
    justify-content: center;
    gap: 2.5vmin;
}

/* Filter Options Styles */
#filter-options {
    position: relative;
    top: 2vmin;
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 1vmin;
}

#filter-title{
    width: 100%;
    font-size: 4vmin;
}

#filter-input {
    width: 100%;
    font-size: 2vmin;
    border-radius: 0.6vmin;
    padding: 0.25vmin 0.60vmin;
    border: 0.1vmin solid #c4c4c4;
    border-radius: 0.6vmin;
}

/* Search Styles */
#search-div{
    position: relative;
    top: 2vmin;
    width: 70vw;
}

#table-title{
    font-size: 4vmin;
    position: relative;
    left: 15%;
}

#search-input {
    position: absolute;
    margin-left: auto;
    right: 0vmin;
    top: 1.5vmin;
    width: 30%;
    font-size: 2vmin;
    border: 0.1vmin solid #c4c4c4;
    border-radius: 0.6vmin;
    padding: 0.25vmin 0.60vmin;
}

/* Table View Styles */
#table-container {
    top: 10vmin;
    width: 100%;
    border: 0.01vmin solid #e5e7eb;
    border-radius: 0.5vmin;
    box-shadow: 0 0.01vmin 0.02vmin 0 rgba(0, 0, 0, 0.05);
    overflow: auto;
    font-size: 2vmin;
    font-family: var(--alternative-font);
}

#table {
    width: 100%;
    border-collapse: collapse;
}

#column-names {
    background-color: var(--nav-bg);
    color: white;
}

#table th,
#table td {
    padding: 0.75vmin;
    text-align: left;
}

#row-even {
    background-color: white;
}

#row-odd {
    background-color: #e5e7eB;
}