:root{
    --fade-in-start-opacity: 0
}

.fade-in {
    opacity: var(--fade-in-start-opacity);
    transform: translateY(10%);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Div 1 Styles */
#div-1 {
    width: 100vw;
    height: 100vh;
    background-image: url("/home.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    user-select: none;
    gap: 5vmin;
}

#front-logo{
    font-size: 12.5vmin;
    max-width: 100vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--secondary-colour);
}

#tagline{
    font-size: 5.5vmin;
    color: var(--secondary-colour);
}

/* About Us Div (Div 2) Styles */
#about-us-div{
    position: relative;
    width: 100vw;
    height: 100vmin;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#info-image{
    position: absolute;
    top: 20%;
    width: 40vw;
    height: 60vmin;
    user-select: none;
}

#section-header{
    position: absolute;
    top: 20%;
    width: 42.5vw;
    max-width: 42.5vw;
    white-space: nowrap;
    text-align: center;
    font-size: 10.5vmin;
}
#section-subtext{
    position: absolute;
    max-width: 42.5vw;
    word-wrap: break-word;
    text-align: center;
    top: 50%;
    font-size: 3.1vmin;
}

/* Div 3 Styles */
#div-3{
    overflow-x: hidden;
    position: relative;
    width: 100vw;
    height: 400vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-colour);
}

#div-3-header{
    position: absolute;
    top: 10vh;
    font-size: 5.5vmin;
}

#image-track{
    display: flex;
    gap: 2vmin;
    position: absolute;
    top: 25vh;
    left: 5vw;
    transform: translate(0vw, 0%);
    height: max-content;
    width: max-content;
    user-select: none;
}

#image-track > .image{
    overflow-x: hidden;
    width: 25vmax;
    height: 70vmin;
    object-fit: cover;
    object-position: 100% 50%;
    user-select: none;
}

/* Div 4 Styles */
#div-4{
    position: relative;
    width: 100vw;
    height: 100vmin;
    background-size: cover;
    display: flex;
    justify-content: center;
}


/* Contact Us Div (Div 5) Styles */
#contact-us-div{
    position: relative;
    width: 100vw;
    height: 35vmin;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: var(--dark-primary-colour);
    color: var(--primary-colour);
}

#contact-us-header{
    position: absolute;
    top: 5%;
    font-size: 6vmin;
    user-select: none;
}

#contact-us-icon{
    position: absolute;
    width: 5.5vmin;
    height: 5.5vmin;
    align-items: center;
    user-select: none;
}

#contact-us-details{
    position: absolute;
    font-size: 2.6vmin;
    justify-content: center;
}