body{
    background-image: url('/bg-image.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#form{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 60vmin;
    width: 35vmax;
}

#background{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: var(--primary-colour);
    align-items: center;
    height: 60vmin;
    width: 35vmax;
    border-radius: 1.5vmin;
}

#logo{
    color: #f4a950;
    position: absolute;
    top: 5%;
    font-family: Garamond;
    font-size: 8vmin;
    height: 8vmin;
}

#p-tag{
    position: absolute;
    font-family: var(--alternative-font);
    font-size: 2.2vmin;
    left: 7.5%;
    top: 25%;
}

#input-field{
    position: absolute;
    width: 85%;
    font-size: 2vmin;
    height: fit-content;
    border: 0.3vmin solid #c4c4c4;
    border-radius: 1vmin;
    padding: 0.75vmin 0.75vmin;
}

#eye-icon{
    position: absolute;
    top: 51.5%;
    right: 7%;
    height: 5vmin;
}
#eye-icon:hover{
    cursor: pointer;
}

#login-button{
    position: absolute;
    bottom: 5%;
    width: 85%;
    height: 12%;
    background-color: #fdd47f;
    color: #333333;
    font-family: var(--alternative-font);
    font-size: 3.3vmin;
    border-radius: 100vmin;
    user-select: none;
}

#login-button:hover{
    filter: brightness(0.8);
}

#hyperlink-container {
    display: flex;
    width: 100%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    position: absolute;
    top: 60%;
}


#hyperlink {
    position: relative;
    color: #e7a543;
    text-decoration: none;
    font-family: var(--alternative-font);
    font-weight: bold;
    font-size: 2.2vmin;
  }
  
#hyperlink:hover {
    filter: brightness(0.8);
    text-decoration: underline;
}
  